@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #354672;
}
header p{
position: absolute;
width: 344px;
height: 42px;
left: 33px;
top: 25px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
}
header #abt{
position: absolute;
width: 92px;
height: 17px;
left: 1041px;
top: 15px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.015em;
color: #FFFFFF;
}
header #contact{
position: absolute;
width: 128px;
height: 17px;
left: 1164px;
top: 15px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.015em;
color: #FFFFFF;
}
#circle1{
position: absolute;
width: 367px;
height: 367px;
left: 367.4px;
top: -150.98px;
border-radius: 50%;
background: #3FA5D0;
transform: rotate(-41.8deg);
}
#circle2{
position: absolute;
width: 460px;
height: 460px;
left: -197px;
top: 130px;
border-radius: 50%;
background: #3FA5D0;
}
#circle3{
position: absolute;
width: 255px;
height: 255px;
left: 1104px;
top: 396px;
border-radius: 50%;
background: #3FA5D0;
}
#code{
position: absolute;
width: 152px;
height: 67px;
left: 1118px;
top: 306px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 61px;
letter-spacing: 0.015em;
color: rgba(254, 254, 254, 0.7);
}
.code2{
position: absolute;
width: 152px;
height: 67px;
left: 220px;
top: 400.6px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 61px;
letter-spacing: 0.015em;
color: rgba(255, 255, 255, 0.63);
}
.code3{
    display: none;
}
.rectangle{
    position: absolute;
    width: 130px;
    height: 34px;
    top: 180px;
    left: 900px;
}
.rectangle2{
    position: absolute;
    width: 130px;
    height: 34px;
    top: 588px;
    left: 221px;
}
.coming p{
position: absolute;
width: 651px;
height: 89px;
left: 406px;
top: 200px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 88px;
letter-spacing: 0.085em;
color: #FFFFFF;
}
.coming h5{
position: absolute;
width: 255px;
height: 42px;
left: 616px;
top: 316px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.015em;
color: #FFFFFF;
}

#input{
    position: relative;
}
div input{
position: absolute;
width: 463px;
height: 53px;
left: 408px;
top: 490px;
background: #FFFFFF;
border-radius: 2px 0px 0px 2px;
border: none;
padding-left: 20px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
/* identical to box height */
letter-spacing: 0.015em;
}
.input button{
position: absolute;
width: 160px;
height: 55px;
left: 892px;
top: 490px;
background: #071733;
border-radius: 0px 2px 2px 0px;
border: none;
color: white;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.015em;
}
.input p{
position: absolute;
width: 403px;
height: 20px;
left: 408px;
top: 455px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
letter-spacing: 0.015em;
color: #EFEFEF;
}
footer p{
position: absolute;
width: 135px;
height: 13px;
left: 652px;
top: 95%;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.05em;
color: rgba(255, 255, 255, 0.84);
}

@media (min-width: 995px) and (max-width: 1199px){
    #circle1{
        width: 250px;
        height: 250px;
    }
    #circle2{
        width: 300px;
        height: 300px;
        top: 500px;
    }
    #circle3{
        left: 900px;
        top: 800px;
    }
    #code{
        left: 900px;
    }
    .code2{
        top: 650px;
        left: 50px;
    }
    header #abt{
        left: 700px;
    }
    header #contact{
        left: 850px;
    }
    div input{
        left: 250px;
        top: 720px;
    }
    .input button{
        left: 720px;
        top: 720px;
    }
    .coming p{
        left: 200px;
        top: 383px;
    }
    .coming h5{
        left: 400px;
        top: 500px;
    }
    .input p{
        left: 250px;
        top: 685px;
    }
    footer p{
        left: 450px;
    }
}
@media (min-width: 765px) and (max-width: 994px){
    #circle1{
        width: 250px;
        height: 250px;
        left: 250px;
    }
    #circle2{
        width: 300px;
        height: 300px;
        top: 200px;
    }
    #circle3{
        width: 200px;
        height: 200px;
        left: 540px;
        top: 800px;
        overflow: hidden;
    }
    #code{
        left: 560px;
    }
    .code2{
        top: 250px;
        left: 50px;
    }
    .code3{
        display: block;
        position: absolute;
        width: 82px;
        height: 53px;
        left: 24px;
        top: 823px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 24px;
        letter-spacing: 0.015em;
        color: rgba(255, 255, 255, 0.63);
    }
    .rectangle{
        position: absolute;
        top: 180px;
        left: 500px;
    }
    .rectangle2{
        position: absolute;
        top: 858px;
        left: 21px;
    }
    header #abt{
        left: 530px;
    }
    header #contact{
        left: 630px;
    }
    div input{
        left: 120px;
        top: 720px;
        width: 350px;
    }
    .input button{
        left: 480px;
        top: 720px;
    }
    .coming p{
        left: 122px;
        top: 383px;
        font-size: 8vw;
    }
    .coming h5{
        left: 255px;
        top: 480px;
        
    }
    .input p{
        left: 120px;
        top: 685px;
    }
    footer p{
        left: 310px;
        
    }
}
@media (max-width: 764px){
    #circle1{
        position: absolute;
        width: 84px;
        height: 84px;
        left: 139px;
        top: -48px;
        background: #3FA5D0;
    }
    #circle2{
        position: absolute;
        width: 153px;
        height: 153px;
        left: -77px;
        top: 130px;
        background: #3FA5D0;
    }
    #circle3{
        position: absolute;
        width: 107px;
        height: 107px;
        left: 255px;
        top: 527px;
    }
    #code{
        position: absolute;
        width: 42px;
        height: 23px;
        left: 304px;
        top: 260px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.015em;
        color: rgba(255, 255, 255, 0.63);
    }
    .code2{
        position: absolute;
        width: 62px;
        height: 47px;
        left: 63px;
        top: 196px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.015em;
        color: rgba(255, 255, 255, 0.63);
    }
    .code3{
        display: block;
        position: absolute;
        width: 82px;
        height: 53px;
        left: 24px;
        top: 500px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 24px;
        letter-spacing: 0.015em;
        color: rgba(255, 255, 255, 0.63);
    }
    .rectangle{
        position: absolute;
        top: 180px;
        left: 200px;
    }
    .rectangle2{
        position: absolute;
        width: 130px;
        height: 34px;
        top: 550px;
        left: 21px;
    }
    header #doc{
        position: absolute;
        width: 115px;
        height: 12px;
        left: 19px;
        top: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;

    }
    header #abt{
        position: absolute;
        width: 41px;
        height: 17px;
        left: 234px;
        top: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.015em;
        color: #FFFFFF;
    }
    header #contact{
        position: absolute;
        width: 70px;
        height: 17px;
        left: 285px;
        top: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.015em;
        color: #FFFFFF;
    }
    div input{
        position: absolute;
        width: 194px;
        height: 34px;
        left: 37px;
        top: 465px;
        background: #FFFFFF;
        border-radius: 2px 0px 0px 2px;
    }
    .input button{
        position: absolute;
        width: 94px;
        height: 36px;
        left: 252px;
        top: 465px;
        font-size: 11px;
        background: #071733;
        border-radius: 0px 2px 2px 0px;
    }
    .coming p{
        position: absolute;
        width: 305px;
        height: 39px;
        left: 42px;
        top: 298px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .coming h5{
        position: absolute;
        width: 167px;
        height: 42px;
        left: 114px;
        top: 350px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.015em;
        color: #FFFFFF;
    }
    .input p{
        position: absolute;
        width: 257px;
        height: 12px;
        left: 37px;
        top: 441px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.015em;
        color: #FBFBFB;
    }
    footer p{
        position: absolute;
        width: 87px;
        height: 13px;
        left: 157px;
        top: 95%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 10px;
        letter-spacing: -0.095em;
        color: rgba(255, 255, 255, 0.79);
    }
}
@media (max-width: 320px){
    #circle1{
        left: 120px;
    }
    #circle3{
        width: 40px;
        height: 40px;
        left: 280px;
        top: 507px;
    }
    #code{
        left: 200px;
    }
    .rectangle{
        left: 180px;
    }
    .rectangle2{
        top: 535px;
        width: 70px;
        height: 34px;
    }
    header #abt{
        font-size: 8px;
        left: 200px;
    }
    header #contact{
        position: absolute;
        width: 60px;
        height: 17px;
        left: 245px;
        top: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 12px;
        letter-spacing: 0.015em;
        color: #FFFFFF;
    }
    .coming p{
        position: absolute;
        width: 250px;
        height: 39px;
        left: 42px;
        top: 298px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 44px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
    .coming h5{
        position: absolute;
        width: 167px;
        height: 42px;
        left: 114px;
        top: 350px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0.015em;
        color: #FFFFFF;
    }
    div input{
        width: 180px;
        top: 450px;
        left: 27px;
    }
    .input button{
        width: 75px;
        top: 450px;
        left: 229px;
        font-size: 8px;
    }
    .input p{
        top: 428px;
        left: 27px;
    }
    footer p{
        top: 96%;
        left: 140px;
    }
}
